@model Fatec.ProjetoAnimais.Models.AnimalViewModel

@{
    ViewBag.Title = "Animais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Novo Animal</h3>




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.Label("Cidade encontrado", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cidade_encontrado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cidade_encontrado, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.Label("Espécie do Animal", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.especie, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex: Cachorro, gato..." } })
                    @Html.ValidationMessageFor(model => model.especie, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Raça do Animal", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.raca, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex: Vira lata, pincher...." } })
                    @Html.ValidationMessageFor(model => model.raca, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Condições do Animal", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.condicoes, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.condicoes, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Porte do Animal", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.porte, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.porte, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.Label("Sexo do Animal", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.RadioButtonFor(model => model.sexo, 1, new { id = "rbsexo", htmlAttributes = new { @class = "form-control" } })
                    @Html.Label("rbsexo", "Macho")
                    @Html.RadioButtonFor(model => model.sexo, 2, new { id = "rbsexo", htmlAttributes = new { @class = "form-control" } })
                    @Html.Label("rbsexo", "Fêmea")
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Vacinas", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.RadioButtonFor(model => model.vacinas, 1, new { id = "rbvacinas", htmlAttributes = new { @class = "form-control" } })
                    @Html.Label("rbvacinas", "Sim")
                    @Html.RadioButtonFor(model => model.vacinas, 2, new { id = "rbvacinas", htmlAttributes = new { @class = "form-control" } })
                    @Html.Label("rbvacinas", "Não")
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Situação", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.RadioButtonFor(model => model.situacao, 1, new { id = "rbSituacao", htmlAttributes = new { @class = "form-control" } })
                    @Html.Label("rbSituacao", "Disponível")
                    @Html.RadioButtonFor(model => model.situacao, 2, new { id = "rbSituacao", htmlAttributes = new { @class = "form-control" } })
                    @Html.Label("rbSituacao", "Indisponível")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-default" />
                </div>
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
